<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LOTR Converter.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7A70BFC72E7C19BD00A59433</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A70BFD72E7C19BE00A59433</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7A70BFE12E7C19BE00A59433</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
